@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebStoreGusev.Models.CarViewModel

@{ ViewData["Title"] = "Buy"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Купить @Model.Company @Model.Model</h1>

    <table>
        <tr>
            <td>@Model.Company</td>
            <td>@Model.Model</td>
            <td>@Model.Color</td>
            <td>@Model.Price RUB</td>
        </tr>
    </table>
    <br />
    <a asp-action="Index">< Назад</a>
</body>
</html>